@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
html, * {padding: 0; margin: 0;box-sizing: border-box;}
html{background: #ffcb00;height: 100%;display: flex; justify-content: center;align-items: center; overflow: hidden; }

header {position:absolute;left: 0;right: 0;text-align: center;top: 0;}
header ul {list-style: none;padding: 0;}
header a { text-decoration: none;color: black;font-family: 'Poppins', sans-serif;font-weight: 600;}
body { height: 90vh;width: 90vw;filter: drop-shadow(0px 0px 15px #5e5e5e47);position: relative;overflow: hidden;display: flex;justify-content: center;align-items: center;}
main {height: 59vh;display: flex;justify-content: center;align-items: center;background: url('../assets/background.jpg');background-position: center;background-size: cover;background-repeat: no-repeat;width: 50vw;margin: auto;background-size: cover;min-width: 500px;}
main > section {overflow: hidden;height: 100%;display: flex;justify-content: center;align-items: center;width: 100%;}

#intro img {max-width: 400px;}
#intro p {font-family: 'Poppins', sans-serif;font-size: 3em;position: absolute;font-weight: 900;text-shadow: 0px 0px 2px #2773b9;color: #2773b9;}
#selectPokemon {display: none;width: 100%;overflow: hidden;justify-content: center;align-items: center;height: 100%;background: #00000094;}
#selectPokemon img{max-width: 250px;order: 2;}
#selectPokemon figure {display: flex;justify-content: center;flex-direction: column;margin: 3em;transition: .5s ease;}
#selectPokemon figure:hover {transform: scale(1.2);}
#selectPokemon figcaption{color: white;text-align: center;font-size: 1.23em;font-family: 'Poppins', sans-serif;order: 1;margin-bottom: 1em;font-weight: 900;letter-spacing: 0.1em;}
#pikachuButton {animation: enemySpawn 1s ease;}
#corviknightButton {animation: enemySpawn 2s ease;}
#gengarButton {animation: enemySpawn 2.5s ease;}

#intro {display: flex;flex-direction: column;justify-content: space-evenly;align-items: center;height: inherit;position: relative;width: 100%;background: #000000c7;}
#start {transition: 1s ease; background: #fff;color: black;padding: 17px 50px;font-weight: 900;border: none;max-width: 200px;}
#start:hover { background: #ffcb00; color: #2b2b2b; font-size: 20px; max-width: 250px;}

/* battle */
#heroName {    font-family: 'Poppins', sans-serif;position: absolute;top: -1.1em;left: 1em;transform: translate(41%, -70%);font-family: 'Oswald', sans-serif;letter-spacing: 1px;font-size: 1.2em;transform: skew(-28deg);}
#battle {position: absolute;display: none;min-width: 500px; width: 54%;height: 63%;}
#battleUi {position: absolute;width: 100%;bottom: 0;height: 25%;display: flex;align-items: center;background: #a0ffc5;border: solid 2px black;}
#heroInfo{display: none;animation: hpBarAnimation 0.5s ease;}
#enemyInfo{display: none;animation: hpBarAnimation 0.5s ease-in-out;}
#battle section {display: none;max-width: 302px;position: relative;justify-content: center;align-items: center;padding: 0.5em 1.8em;background: #ffcb00;box-shadow: 6px 7px 0px 1px #1a1a1a5c;/*! border: black solid 2px; */transform: skew(28deg);}
#battle section:nth-of-type(1) {position: absolute;bottom: 30%;right: 6%;}
#battle section:nth-of-type(2) {position: absolute;top: 5%;left: 6%;z-index: 1;}
#battle section p:nth-of-type(1) {text-transform: capitalize;}
#battle section p:nth-of-type(2) {background: #2b2b2b;font-family: 'Oswald', sans-serif;color: white;font-size: 0.7em;height: 23px;width: 35px;display: flex;justify-content: center;align-items: center;padding: 0 1em;transform: skew(-28deg);}
#heroHpBar {width: 0;}
#heroImage {position: absolute;bottom: 14%;left: 6%;width: 326px;transition: .5s ease-out;}
#enemyName {font-family: 'Poppins', sans-serif;position: absolute;font-family: 'Oswald', sans-serif;letter-spacing: 1px;font-size: 1.2em;transform: skew(-28deg);top: -1.1em;left: 1em;}
#enemyHpBar {width: 0;}
#enemyImage {transition: .4s ease;position: absolute;top: 6%;right: 6%;width: 178px;animation: enemySpawn 2s ease;}
#battleUi {display:none; animation: enemySpawn 1s ease;}
#heroAttacks {display: flex;max-width: 302px;max-height: 102px;width: 100%;height: 100%;position: relative;left: 16%;bottom: 0;flex-wrap: wrap;animation: enemySpawn 1s ease;transition: 1s ease;}
#attackOne:hover::before, #attackTwo:hover::before, #attackThree:hover::before, #attackFour:hover::before {content: "  ";display: inline-block;width: 3px;height: 3px;background:black;margin-right: 10px;margin-bottom: 3px;}
#attackOne:hover, #attackTwo:hover, #attackThree:hover, #attackFour:hover {transition: 2s ease;}
.attacksHero {width: 50%; border: none; max-width: 125px;height: 51px;font-family: 'Poppins', sans-serif;font-size: 0.9em;letter-spacing: 0px;background: transparent;}
#heroHpBar, #enemyHpBar {max-width: 100%; height: 100%; background: #2dea06; display: flex;justify-content: center;align-items: center;transition: 2s ease;}
#heroHpContainer, #enemyHpContainer {height: 23px;width: 300px;border: solid 0px;background: red;border: solid 9px #2b2b2b;transform: skew(-28deg);}
#battleText {width: 100%;text-align: center;font-family: 'Poppins', sans-serif;display: none;text-transform: capitalize;}

@keyframes hpBarAnimation {
    0% {transform: skew(27deg) translate(-200%);}
    50% {opacity: 0; transform: skew(27deg) translate(0%);}
    100% {opacity: 1;}
}

@keyframes enemySpawn {
    0% {transform: translate(200%);}
    50% {opacity: 0; transform: translate(0%);}
    100% {opacity: 1;}
}